#index
  .row
    .span1 &nbsp;
    .span6
      h1 Riverside
        span .js

      p JavaScript is a huge part of both ux and server side development today. It's increasingly important to be on the cutting edge. 
  
      .well
        p This group exists:
          ul
            li To connect people of all skill levels who are working with JavaScript
            li Facilitate the flow of knowledge from those who know more to those who know less
            li Give an arena for sharing all about the latest and greatest javascript thing you just figured out
  .row.who-what-when-where
    .span1 &nbsp;
    .span6
      h2 When

      p We meet, the <a href="http://meetup.com/riversidejs">1st Monday of each month</a>.

      h2 Where

      p Visit the <a href="http://meetup.com/riversidejs">meetup</a> page for the location of our next meetup.
        
      hr
      h3 We talk about
      ul
        li Node.js
        li CoffeeScript
        li jQuery
        li Backbone.js
        li Spine.js
        li Eco
        li Jade
        li JavaScript best practices
        li Phonegap
        li ..and more!

      p &nbsp;