#index
  .row
    .span1 &nbsp;
    .span6
      h1 Riverside
        span .js

      p JavaScript is a huge part of both ux and server side development today. It's increasingly important to be on the cutting edge. 
  
      .well
        p This group exists to:
          ul
            li Connect people of all skill levels who are working with JavaScript.
            li Facilitate the flow of knowledge from those who know more to those who know less.
            li Give an arena for sharing all about the latest and greatest javascript thing you just figured out.
            li Have fun with common minded people in a friendly setting.

      p Come and enjoy!
      
    .span1 &nbsp;
    .span4
      .sidebar

        h3 
          i.icon-group 
          span Active Members

        ul.unstyled.members
        .chat
          a(href="https://riverside.campfirenow.com/a3544") 
            i.icon-comment
            span Group Chat

  .row.who-what-when-where
    .span1 &nbsp;
    .span6

      h2 
        i.icon-time
        span When

      p We meet, the <a href="http://meetup.com/riversidejs">1st Monday of each month</a>.

      h3 Upcoming Meetups

      each event, i in events
        include events/single

      p.upcoming-meetups

      h2 
        i.icon-map-marker
        span Where

      p Visit the <a href="http://meetup.com/riversidejs">meetup</a> page for more information on  our meetups.
        
      hr
      h3 We talk about
      ul
        li Node.js
        li CoffeeScript
        li jQuery
        li Backbone.js
        li Spine.js
        li Eco
        li Jade
        li JavaScript best practices
        li Phonegap
        li ..and more!

      p &nbsp;    