doctype 5
html(lang='en')
head
  meta(charset='utf-8')
  title= info.name
  meta(name='description', content=info.description)
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.5")
  meta(name='author', content='Scott Motte, Jacob Lowe')
  // Le Styles 
  != css('application')
  
  body(data-spy='scroll', data-target='.subnav', data-offset='50')
    - if (typeof(header) != 'undefined')
      != header
    #main.container!= body
    != partial('partials/_gauges')

    // Zee Javascriptz
    script(id='member-template', type='text/html')
      li.member
        img.gravatar(src='{{ photo }}', alt='{{ name }}')
        span {{ name }} 
    
    != js('application')

 