//- li
//- 	- if (!!member.link)
//- 		a(href=member.link)
//- 			img.gravatar(src=member.gravatar)
//- 			span.name= member.name
//- 	- else
//- 		img.gravatar(src=member.gravatar)
//- 		span.name= member.name   