// Light Theme
$links     = #08c;
$icons     = #bada55; 
$bgcolor   = #efefef;
$type      = #444;


// Dark Theme
// $links     = #08c;
// $icons     = #444; 
// $bgcolor   = #333;
// $type      = #efefef;

a 
  color: $links;

i{
  text-shadow: 0px 1px 0px rgba($type, .3);
}

::selection {
  background: $icons;
  color: $bgcolor;
}

hr

  background-color: $icons;
  border: 0;
  height: 1px;

p
  color: $type;

body 
  background-color: $bgcolor;
  padding: 60px 0;
  color: $type;

.icon_head

  border-radius: 100%
  padding: 5px;
  margin: 0px;
  background: $icons;
  display: inline-block;
  text-align: center;
  float: left;
  box-shadow: inset 0px 0px 1px darken($icons, 15%);

  i
    width: 75px;
    height: 75px;
    font-size: 50px;
    color: $bgcolor;
    line-height: 75px;

h1
  font-size: 55px;
  line-height: 50px;
  margin-bottom: 30px;

  i
    color: $icons;
    font-size 100pt;
    line-height: 14px;

  .highlight 
    color: $links;
  

h2, h3 
  font-weight: normal;

h2 
  margin: 20px 0 10px 0;

  i

    color: $icons;
    margin: 7px 15px 0 0;

a 
  text-decoration: underline;

.well
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  padding: 5px;
  box-shadow: none;
  position: relative;
  border-color: darken($bgcolor, 15%);
  box-shadow: 0px 1px 0px invert(rgba($bgcolor, .3)), inset 0px 1px 0px rgba($bgcolor, .3);
  background-position: right bottom;

.who-what-when-where 
  margin-top: 0px;


// sidebar
.sidebar 
  margin-top: 0px;
  position: fixed;

  h3
    background: $type;
    color: $bgcolor;
    padding: 5px 10px;
    border-radius: 2px;

    i
      color: lighten($bgcolor, 15%);
      margin: 5px 10px 0 0;

  .members li 
    margin-top: 0px;
    display: block;
    border-bottom: 1px solid $icons; 

  .member
    overflow: hidden;
    margin-top: 10px;
    height: 0px;
    padding: 0;

    &.ready
      -webkit-transition: height .5s ease-out, padding .3s ease-out;
      height: auto;
      padding: 5px 10px;



    a 
      color: $type;
    
    .gravatar 
      width: 16px;
      height: 16px;
      margin-top: -5px;
      margin-right: 5px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;

  div

    padding: 5px 0;

    i
      color: $icons;
      text-decoration: none;
      margin: 2px 5px;


.event-data
  border-radius: 4px;
  padding: 10px;
  background-color: rgba($bgcolor, .9);
  display: inline-block;


.rsvp-yes
  position: absolute;
  bottom: 20px;
  right: 10px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  background-color: $type;
  box-shadow: 0px 1px 1px $type;
  color: $bgcolor;
  border-radius: 25px;
  padding: 0 10px;

  i

     margin: 2px 5px 0 0;
   


  
  

// mobile phones dont like sticky stuff
@media (max-width: 767px)

  body
    padding-top: 20px;

  .icon_head

      padding: 5px;
      background: $icons;
      display: block;
      width: 90px;
      height: 90px;
      margin: 10px auto;
      text-align: center;
      float: none;

      i
        width: 80px;
        height: 80px;
        font-size: 50px;
        color: $bgcolor;
        line-height: 90px;

    h1
      text-align: center;

  .container

    width: 75%;

  .sidebar
    position: relative;
    margin-top: 10px;

    h3
      line-height: 36px;
      font-size: 24px;
      background: transparent;
      color: $type;
      padding: 0;

      i
        color: $icons;
        margin: 7px 15px 0 0;


    .members li
      float: left;
      padding: 2px;

      span
        display: none;

    .member
      overflow: hidden;
      margin-top: 10px;
      width: 0px;
      padding: 0;

      &.ready
        -webkit-transition: width .5s ease-out, padding .3s ease-out;
        width: auto;
        padding: 2px;

    div
      clear:both;
      display: block;

      i
        color: $type;

@media (max-width: 480px)

  h1
    font-size: 50px;

  .container

    width: 90%;

  .rsvp-yes

    span.going

      display: none;



