h1 {
  margin: 120px 0 60px 0;
  font-size: 60px;
  span {
    color: #bada55;
  }
}
h2, h3 {
  font-weight: normal;
}

h2 {
  margin: 20px 0 10px 0;
}
a {
  text-decoration: underline;
}
.well {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.who-what-when-where {
  margin-top: 0px;
}

// members
.members li {
  margin-top: 5px;
  display: block;
  .gravatar {
    margin-top: -5px;
    margin-right: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
}