body 
  background-color: #fdfdfd;


h1
  margin: 60px 0;
  font-size: 60px;

  i
    color: #efefef;
    font-size 100pt;

  .highlight 
    color: #bada55;
  

h2, h3 
  font-weight: normal;

h2 
  margin: 20px 0 10px 0;

  i
    margin: 7px 15px 0 0;

a 
  text-decoration: underline;

.well
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: relative;

.who-what-when-where 
  margin-top: 0px;


// sidebar
.sidebar 
  margin-top: 60px;
  position: fixed;

  h3
    background: #333;
    color: #fefefe;
    padding: 5px 10px;
    border-radius: 2px;

    i
      color: #fff;
      margin: 5px 10px 0 0;

  .members
    margin-top: 10px;

  .members li 
    margin-top: 0px;
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #ededed; 

    a 
      color: #333;
    
    .gravatar 
      width: 16px;
      height: 16px;
      margin-top: -5px;
      margin-right: 5px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;

  div

    background: #cfcfc;
    padding: 5px 0;

    i
      color: #333;
      text-shadow: 0px 1px 0px #fff;
      text-decoration: none;
      margin: 2px 5px;


.event-data
  margin: -15px;
  border-radius: 4px;
  padding: 5px;
  background-color: rgba(255,255,255,.8);
  display: inline-block;


.rsvp-yes
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  background-color: rgb(255,255,255);
  box-shadow: 0px 1px 1px rgba(0,0,0,.3);
  border-radius: 25px;
  padding: 0 10px;

  i

     margin: 2px 5px 0 0;
   


  
  

// mobile phones dont like sticky stuff
@media (max-width: 767px)

  .container

    width: 80%;

  .sidebar
    position: relative;
    margin-top: 10px;

    h3
      line-height: 36px;
      font-size: 24px;
      background: transparent;
      color: #333;
      padding: 0;

      i
        color: #333;
        margin: 7px 15px 0 0;


    .members li
      float: left;
      padding: 2px;

      span
        display: none;

    div
      clear:both;
      display: block;

@media (max-width: 480px)

  h1

    font-size: 50px;

  .container

    width: 90%;

  .rsvp-yes

    span.going

      display: none;



